/* You can add global styles to this file, and also import other style files */

/* Preconnect links to Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
input,
button {
  margin: 0;
  /* Use the Lora font */
  font-family: "Lora", Georgia, "Times New Roman", Times, serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
