<h1 class="header-h1">Unsere Vorteile</h1>
<div class="container">
  <ol class="step-list">
    <li class="step-list__item" [@scrollAnimation]="animationStates[0]">
      <div class="step-list__item__inner">
        <div class="content">
          <div class="body">
            <h2>Top Beratung</h2>
            <p>
              Im Rahmen unseres fundierten Beratungsprozesses finden wir
              gemeinsam mit Ihnen eine passende Immobilie, organisieren eine
              Besichtigung & helfen Ihnen bei der Kaufabwicklung.
            </p>
          </div>
          <div class="icon">
            <img
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/check-circle.svg"
              alt="Check"
            />
          </div>
        </div>
      </div>
    </li>
    <li class="step-list__item" [@scrollAnimation]="animationStates[1]">
      <div class="step-list__item__inner">
        <div class="content">
          <div class="body">
            <h2>Hohe Mietrenditen, ca. 4%</h2>
            <p>
              Dank attraktiver Mieteinnahmen und Steuervorteilen profitieren Sie
              in der Regel von Anfang an von einem positivem Cashflow und bauen
              langfristig Vermögen auf.
            </p>
          </div>
          <div class="icon">
            <img
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/mail_outline_copy.svg"
              alt="Check"
            />
          </div>
        </div>
      </div>
    </li>
    <li
      class="step-list__item"
      [@scrollAnimation]="animationStates[2]"
      [style.transition]="'300ms ease-in'"
    >
      <div class="step-list__item__inner">
        <div class="content">
          <div class="body">
            <h2>Niedrige Finanzierungszinsen</h2>
            <p>
              Über unsere Kooperationsbanken ermöglichen wir unseren Kunden sehr
              gute Finanzierungskonditionen mit wenig Eigenkapital und günstigem
              Fremdkapital mit flexibel wählbarer Laufzeit.
            </p>
          </div>
          <div class="icon">
            <img
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/graph.svg"
              alt="Check"
            />
          </div>
        </div>
      </div>
    </li>
    <li class="step-list__item" [@scrollAnimation]="animationStates[3]">
      <div class="step-list__item__inner">
        <div class="content">
          <div class="body">
            <h2>Null Verwaltungsaufwand</h2>
            <p>
              Ihr Geld arbeitet für Sie! Professionelle und erfahrene
              Hausverwaltungen nehmen Ihnen ab 20 € im Monat den Aufwand ab
              (Nebenkostenabrechnungen, Reparaturen, etc.).
            </p>
          </div>
          <div class="icon">
            <img
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/calendar.svg"
              alt="Check"
            />
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
