<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">Start</a></li>
          <li><a href="#">Leistungen</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Rechtliches</h4>
        <ul>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutz</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Kontakt</h4>
        <ul>
          <li><a href="#">E-Mail:</a></li>
          <li><a href="#">test@outlook.de</a></li>
          <li><a href="#">Telefon:</a></li>
          <li><a href="#">01784132841</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
